.container {
  max-width: 900px;
  margin: auto;
  font-family: tahoma;
  text-align: center;
}

h1 {
  color: steelblue;
}

#stopMessage {
  display: none;
  font-size: 26px;
}

#time {
  font-size: 35px;
  color: firebrick;
}
